{% extends '@Back/default/templateclient.html.twig' %}
{% block section_haider %}
<section class="content-header">
        <h1>
        Propositions reçues
        <small>Services216</small>
      </h1>
      <ol class="breadcrumb">

       
        <li class="active"> <i class="fa fa-clock-o"></i> Suivi vos annonces</li>
      </ol>
    </section>
{%endblock%}

 {%block content%} 
 

 





  <div class="row">




<div class="col-md-12">

        
          <!-- /. box -->
     
<div class="box">
            <div class="box-header">
              <h3 class="box-title">Liste des propositions pour vos annonces</h3><br/>
            




            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="clienttableviewproposition" class="table table-bordered table-striped" >
                <thead>
                <tr>
                  <th class="text-center">Agent/Société</th>
                  <th class="text-center">Annonce</th>
                  <th class="text-center">Date de contacte </th>
                  <th class="text-center">Status</th>
                  <th class="text-center">Action</th>
                </tr>
                </thead>
                
              </table>
            </div>
            <!-- /.box-body -->
          </div>  







<div class="modal fade" tabindex="-1" id="Modalviewproposition" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="text-align:center;">Voir Proposition</h4>
      </div>
      <div class="modal-body">
         
         <div id="divvoirpropositionclient">
         </div>



      </div>
      <div class="modal-footer">
       
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





<div class="modal fade" tabindex="-1" id="Modalannulermission" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Annuler opération</h4>
      </div>
      <div class="modal-body">
        <p>Êtes-vous sûr d&apos;annuler cet mission ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="annuler_operation"><span>Annuler</span><i id="spin-annuler-operation"></i></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





<div class="modal fade " tabindex="-1" id="Paymentproposition" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header ">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
      
    

 <div class="container">
<div class="row">

<div class="col-xs-12 col-md-4 col-md-offset-1">



<div class="panel panel-default credit-card-box text-center">
<div class="panel-heading display-table" >
<div class="row display-tr" >
<h3 class="panel-title display-td" >Payment Details</h3>
<div class="display-td" >                            
<img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
</div>
</div>                    
</div>
<div class="panel-body">
<form  id="paymentproposition-form" method="POST" action="{{path('payment_proposition')}}">



<input type="hidden" id="idpropositionpayment" name="idpropositionpayment"/>



<div class="row">
<div class="col-xs-12">
<div class="form-group">
<label style="text-align:left;">Name complete :</label>

<input 
type="text"
class="form-control"
name="nompropositionpayment"
placeholder="Name Complete"
required  
/>


</div>                            
</div>
</div>








<div class="row">
<div class="col-xs-12">
<div class="form-group">
<label style="text-align:left;" >Email</label>

<input 
type="email"
class="form-control"
name="emailpropositionpayment"
placeholder="Email"

required  
/>


</div>                            
</div>
</div>





<div class="row">
<div class="col-xs-12">
<div class="form-group">
<label style="text-align:left;">CARD NUMBER</label>
<div class="input-group">
<input 
type="tel"
class="form-control"
name="cardpropositionpayment"
placeholder="Valid Card Number"
 data-stripe="number"
required  
/>

<span class="input-group-addon"><i class="fa fa-credit-card"></i></span>

</div>
</div>                            
</div>
</div>










<div class="row">
<div class="col-xs-7 col-md-7">
<div class="form-group">
<label style="text-align:left;" ><span class="hidden-xs">EXPIRATION </span><span class="visible-xs-inline">EXP</span> Month</label>
<input 
type="tel" 
class="form-control" 
name="moispropositionpayment"
placeholder="MM"
data-stripe="exp_month"
required 
/>
</div>
</div>

<div class="col-xs-5 col-md-5 pull-right">
<div class="form-group">
<label style="text-align:left;">YEAR EXPIRATION</label>
<input 
type="tel" 
class="form-control"
name="yearpropositionpayment"
placeholder="YY"
data-stripe="exp_year"

required
/>
</div>
</div>
</div>


<div class="row">
<div class="col-xs-12">
<div class="form-group">
<label style="text-align:left;">CVC</label>
<input type="text" class="form-control"  data-stripe="cvc"   name="cvcpropositionpayment" />
</div>
</div>                        
</div>


<div class="row">
<div class="col-xs-12">
<button class="btn btn-success btn-lg btn-block" type="submit">Payment de <span class="prixpaymentproposition"></span></button>
</div>
</div>






</form>
</div>
</div>            
<!-- CREDIT CARD FORM ENDS HERE -->


</div>            



</div>
</div>









      </div>
   
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->






























































</div>
</div>




{%endblock%}



  {%block aside %}
  {% endblock %}

   {% block javascript %}
    <script>

    var viewtoutproposition;
 


$(document).ready(function($){
 
 viewtoutproposition=$("#clienttableviewproposition").DataTable({
     columnDefs: [
    {
        targets: -1,
        className: 'dt-body-left'
    }
  ],
  'destroy':true,
   
    'ajax':'/user/home/all-propositions',
     'order': []
});


});







    </script>



   {% endblock %}